 .component-ecommerce-grid {
            border: 1px solid #ccc;
            width: 800px;
            border-collapse: collapse;
        }
        .component-ecommerce-grid tbody{
            overflow-y: scroll;
            height: 300px;
        }
        .component-ecommerce-grid td,th{
            padding: 5px;
            border: 1px solid #ccc;
        }